$widescreen-enabled: false;
$fullhd-enabled: false;

$control-radius: 0px;
$box-radius: 0px;

// $success: #3c153b;
// $link: #dc851f;
// $primary: #ffa737;

@import '../../node_modules/bulma/bulma.sass';
